<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.task.common.db.dao.PlaceCommentContentKeyWordMapper">
  <resultMap id="BaseResultMap" type="com.zzy.task.common.db.entity.PlaceCommentContentKeyWord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="place_name" jdbcType="VARCHAR" property="placeName" />
    <result column="tag_content" jdbcType="VARCHAR" property="tagContent" />
    <result column="tag_source" jdbcType="VARCHAR" property="tagSource" />
    <result column="tag_count" jdbcType="INTEGER" property="tagCount" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, place_name, tag_content, tag_source, tag_count, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from place_comment_content_key_word
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from place_comment_content_key_word
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzy.task.common.db.entity.PlaceCommentContentKeyWord">
    insert into place_comment_content_key_word (id, place_name, tag_content,
      tag_source, tag_count, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{placeName,jdbcType=VARCHAR}, #{tagContent,jdbcType=VARCHAR}, 
      #{tagSource,jdbcType=VARCHAR}, #{tagCount,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzy.task.common.db.entity.PlaceCommentContentKeyWord">
    insert into place_comment_content_key_word
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="placeName != null">
        place_name,
      </if>
      <if test="tagContent != null">
        tag_content,
      </if>
      <if test="tagSource != null">
        tag_source,
      </if>
      <if test="tagCount != null">
        tag_count,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="placeName != null">
        #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="tagContent != null">
        #{tagContent,jdbcType=VARCHAR},
      </if>
      <if test="tagSource != null">
        #{tagSource,jdbcType=VARCHAR},
      </if>
      <if test="tagCount != null">
        #{tagCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzy.task.common.db.entity.PlaceCommentContentKeyWord">
    update place_comment_content_key_word
    <set>
      <if test="placeName != null">
        place_name = #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="tagContent != null">
        tag_content = #{tagContent,jdbcType=VARCHAR},
      </if>
      <if test="tagSource != null">
        tag_source = #{tagSource,jdbcType=VARCHAR},
      </if>
      <if test="tagCount != null">
        tag_count = #{tagCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzy.task.common.db.entity.PlaceCommentContentKeyWord">
    update place_comment_content_key_word
    set place_name = #{placeName,jdbcType=VARCHAR},
      tag_content = #{tagContent,jdbcType=VARCHAR},
      tag_source = #{tagSource,jdbcType=VARCHAR},
      tag_count = #{tagCount,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>




  <!-- *********************************************custom method ***************************************-->

  <insert id="batchInsertInfo" parameterType="java.util.List">
    insert into place_comment_content_key_word (id, place_name, tag_content,
    tag_source, tag_count, update_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.id,jdbcType=INTEGER},
      #{item.placeName,jdbcType=VARCHAR},
      #{item.tagContent,jdbcType=VARCHAR},
      #{item.tagSource,jdbcType=VARCHAR},
      #{item.tagCount,jdbcType=INTEGER},
      #{item.updateTime,jdbcType=TIMESTAMP}
      )
    </foreach>
    on duplicate key update
    tag_count = values(tag_count),
    update_time = sysdate()
  </insert>


  <select id="selectBaseNamesByMap" parameterType="java.util.Map" resultType="java.lang.String">
      SELECT
      pi.place_name
      FROM place_info pi
      WHERE pi.key_word= #{keyWord} and pi.place_type = #{placeType} AND pi.place_source = #{placeSource}
  </select>


</mapper>