<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.db.dao.hotmap.MonitorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzy.db.entity.hotmap.MonitorInfo">
        <id column="id" property="id" />
        <result column="scenic_type" property="scenicType" />
        <result column="monitor_name" property="monitorName" />
        <result column="rtmp_address" property="rtmpAddress" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="pic_url" property="picUrl" />
        <result column="rtsp_address" property="rtspAddress" />
        <result column="sn" property="sn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scenic_type, monitor_name, rtmp_address, create_time, update_time,pic_url,rtsp_address,sn
    </sql>

</mapper>
