<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.security.lib.dao.KaptchaInfoMapper">
  <resultMap id="BaseResultMap" type="com.zzy.security.lib.entity.KaptchaInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cap_text" jdbcType="VARCHAR" property="capText" />
    <result column="cap_token" jdbcType="VARCHAR" property="capToken" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cap_text, cap_token, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kaptcha_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kaptcha_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzy.security.lib.entity.KaptchaInfo">
    insert into kaptcha_info (id, cap_text, cap_token, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{capText,jdbcType=VARCHAR}, #{capToken,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzy.security.lib.entity.KaptchaInfo">
    insert into kaptcha_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="capText != null">
        cap_text,
      </if>
      <if test="capToken != null">
        cap_token,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="capText != null">
        #{capText,jdbcType=VARCHAR},
      </if>
      <if test="capToken != null">
        #{capToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzy.security.lib.entity.KaptchaInfo">
    update kaptcha_info
    <set>
      <if test="capText != null">
        cap_text = #{capText,jdbcType=VARCHAR},
      </if>
      <if test="capToken != null">
        cap_token = #{capToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzy.security.lib.entity.KaptchaInfo">
    update kaptcha_info
    set cap_text = #{capText,jdbcType=VARCHAR},
      cap_token = #{capToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kaptcha_info
    where  cap_token = #{capToken,jdbcType=VARCHAR}
  </select>










</mapper>