<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.db.dao.ota.HotelCommentInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzy.db.entity.ota.HotelCommentInfo">
        <id column="id" property="id" />
        <result column="place_key_word" property="placeKeyWord" />
        <result column="comment_place_name" property="commentPlaceName" />
        <result column="comment_time" property="commentTime" />
        <result column="comment_user" property="commentUser" />
        <result column="comment_type" property="commentType" />
        <result column="comment_score" property="commentScore" />
        <result column="comment_content" property="commentContent" />
        <result column="comment_source" property="commentSource" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, place_key_word, comment_place_name, comment_time, comment_user,comment_type,comment_score,comment_content,comment_source,create_time
    </sql>

    <select id="selectNowHotelScore" resultType="com.zzy.db.entity.ota.HotelCommentInfo">
        select id,comment_place_name,max(comment_time) as comment_time ,avg(comment_score) as comment_score
            from hotel_comment_info
            WHERE comment_time between #{startTime} and #{endTime}
            and comment_place_name in('天源豪生度假酒店','喜来登国际大酒店','九寨沟黄浦大酒店','星宇国际大酒店','瀚林阳光酒店','阿坝九寨丽园酒店','永鑫宾馆','鑫城宾馆','九寨沟鑫景酒店','九岳商务宾馆（上街店）','九寨沟富强商务酒店','九寨沟大元酒店','九寨沟万家豪酒店')
            GROUP BY comment_place_name
            ORDER BY comment_score desc
            limit 5
    </select>

    <select id="selectBeforeHotelScore" resultType="java.lang.Double">
        select avg(comment_score)
            from hotel_comment_info
            where comment_time between #{beforeTime} and #{startTime} and comment_place_name = #{commentPlaceName}
    </select>
</mapper>
