<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.db.dao.carpark.GetRemainingSpaceHGanhaiziMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zzy.db.entity.carpark.GetRemainingSpaceHGanhaizi">
        <id column="id" property="id" />
        <result column="remai_spaces" property="remaiSpaces" />
        <result column="total_spaces" property="totalSpaces" />
        <result column="park_key" property="parkKey" />
        <result column="get_time" property="getTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, remai_spaces, total_spaces, park_key, get_time, create_time, update_time
    </sql>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into get_remaining_space_h (id, remai_spaces, total_spaces, park_key, get_time,create_time,update_time
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.remaiSpaces},
            #{item.totalSpaces},
            #{item.parkKey},
            #{item.getTime},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
        on duplicate key update
        remai_spaces = values(remai_spaces),
        total_spaces = values(total_spaces),
        update_time = sysdate()
    </insert>

</mapper>
